{% extends 'base.html' %}

{% block head %}
  <title>Chatbot {{ vehicle.vinAuditData.marketValue.vehicle }} - Vehicle Genius</title>
{% endblock %}

{% block content %}
  <div class="flex flex-col justify-between items-center gap-6 h-full">
    {% if conversation %}
      <div class="flex flex-col gap-2 rounded bg-gray-100">
        {% if conversation %}
          <div class="chat-bubble-sent">
            <input type="hidden" name="vin" value="{{ vehicle.vinAuditData.marketValue.vin }}">
            {{ vehicle.vinAuditData.marketValue.vehicle }}
          </div>
        {% endif %}
        {% for message in conversation %}
          <div
            class="{% if message.role == 'user' %}chat-bubble-sent{% else %}chat-bubble-received{% endif %}"
          >{{ message.content }}</div>
        {% endfor %}
      </div>
    {% else %}
      <div class="flex flex-col gap-2 justify-center items-center w-full">
        {% load static %}
        <img src="{% static 'images/chatbot-header.svg' %}" alt="Vehicle Genius Chatbot" />
        <div>{{ vehicle.vinAuditData.marketValue.vehicle }}</div>
      </div>
      <div class="flex flex-col gap-2 items-center pb-4">
        <div class="text-2xl font-bold text-center">Popular Questions</div>
        <div class="max-w-screen-sm flex flex-col items-stretch gap-2">
          {% for prompt in default_prompts %}
            <a
              class="chat-bubble-faq"
              href="/vehicles/{{ vehicle.id }}/prompt/{{ forloop.counter0 }}"
              _="on click add .loading to <.spinner/>"
            >
              {{ prompt }}
            </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block body_bottom %}
  <form
    action="/vehicles/answer-user-prompt/"
    method="post"
    class="flex flex-col justify-center items-center bg-white border-t border-gray-300 h-14 w-full gap-4 fixed bottom-0 px-4"
  >
    {% csrf_token %}
    <input type="hidden" name="vehicle_id" value="{{ vehicle.id }}">
    {% include "vehicles/id_message_inputs.html" with conversation=conversation %}

    <div class="flex flex-col items-center w-full gap-2">
      <div class="flex justify-between items-center gap-2 w-full">
        <div class="spinner">{% include 'spinner.html' %}</div>
        <input type="text" class="w-full !border border-gray-300" name="user_message" placeholder="Send a message." />
        {% if conversation %}
          <span class="text-lg w-10 cursor-pointer" hx-post="/vehicles/feedback/" hx-vals='{"is_positive": false, "reason": ""}'>👎</span>
        {% endif %}
        <input
          class="indigo-btn"
          type="submit"
          value="→"
          _="on click add .loading to <.spinner/>"
        />
      </div>
    </div>
  </form>
{% endblock %}
