{% extends 'base.html' %}

{% block head %}
  <title>{{ vehicle.vinAuditData.marketValue.vehicle }} - Vehicle Genius</title>
{% endblock %}

{% block content %}
  <div class="flex flex-col items-stretch gap-2 min-h-full">
    <form
      action="/vehicles/answer-user-prompt/"
      method="post"
      class="flex flex-col justify-center items-center w-full gap-4"
    >
      {% csrf_token %}
      <input type="hidden" name="vehicle_id" value="{{ vehicle.id }}">
      <div class="flex flex-col items-center w-full gap-2">
        <div class="flex justify-between items-center gap-2 w-full">
          <div class="spinner">{% include 'spinner.html' %}</div>
          <input type="text" class="w-full !border border-gray-300" name="user_message" placeholder="Ask a question." />
          <input
            class="indigo-btn"
            type="submit"
            value="→"
            _="on click add .loading to <.spinner/>"
          />
        </div>
      </div>
    </form>
    <div class="card fancy-bg text-white flex flex-col gap-2">
      <div class="text-sm">VIN: {{ vehicle.vinAuditData.marketValue.vin }}</div>
      <div class="text-2xl">
        {{ vehicle.vinAuditData.marketValue.vehicle }}
      </div>
{#      <div>#}
{#        {% load static %}#}
{#        <img src="{% static 'images/porsche.png' %}" />#}
{#      </div>#}
    </div>
    {% include "vehicles/chart-card-1.html" with title="Market Value" amount=0 chart_id="market-value" %}
    {% include "vehicles/chart-card-1.html" with title="Annual Insurance Cost" amount=0 chart_id="annual-insurance-cost" %}
    {% include "vehicles/chart-card-1.html" with title="Annual Fuel Cost" amount=0 chart_id="annual-fuel-cost" %}
    {% include "vehicles/chart-card-1.html" with title="Annual Maintenance Cost" amount=0 chart_id="annual-maintenance-cost" %}
    <div class="w-full h-4"></div>
  </div>
{% endblock %}

{% block body_bottom %}
  {{ vehicle|json_script:'vehicle' }}
  <script>
    const vehicle = JSON.parse(document.getElementById('vehicle').textContent);
    const averageMarketValue = vehicle.vinAuditData.marketValue.prices.distribution.map(a => (a.group.max + a.group.min) / 2);
    const annualInsuranceCost = vehicle.vinAuditData.ownershipCost.insuranceCost;
    const annualFuelCost = vehicle.vinAuditData.ownershipCost.fuelCost;
    const annualMaintenanceCost = vehicle.vinAuditData.ownershipCost.maintenanceCost;

    const formatNr = (nr) => {
      return '$' + new Intl.NumberFormat('en-US', { style: 'decimal' }).format(nr.toFixed(0));
    };

    const avg = (arr) => {
      return arr.reduce((a, b) => a + b, 0) / arr.length;
    };

    document.getElementById('market-value-value').textContent = formatNr(vehicle.vinAuditData.marketValue.prices.average);
    document.getElementById('annual-insurance-cost-value').textContent = formatNr(avg(annualInsuranceCost));
    document.getElementById('annual-fuel-cost-value').textContent = formatNr(avg(annualFuelCost));
    document.getElementById('annual-maintenance-cost-value').textContent = formatNr(avg(annualMaintenanceCost));
  </script>
{% endblock %}
