{% extends 'base.html' %}

{% block head %}
  <title>Vehicles - Vehicle Genius</title>
{% endblock %}

{% block content %}
  <div class="flex flex-col gap-6">
    <div class="text-lg font-bold">Good Afternoon, {{ user.username }}</div>

    <div class="flex flex-col gap-6">
      {% for vehicle in vehicles %}
        <div class="flex flex-col gap-4 card">
          <h2 class="font-bold">{{ vehicle.vinAuditData.marketValue.vehicle }}</h2>
          <table>
            <tr>
              <td>VIN</td>
              <td>{{ vehicle.vinAuditData.marketValue.vin }}</td>
            </tr>
            <tr>
              <td>Name</td>
              <td>{{ vehicle.vinAuditData.marketValue.vehicle }}</td>
            </tr>
          </table>
          <div>
            <a class="indigo-btn" href="/vehicles/{{ vehicle.id }}">Details</a>
            <a class="indigo-btn" href="/vehicles/{{ vehicle.id }}/chatbot">Chatbot</a>
          </div>
        </div>
      {% endfor %}
    </div>
    <a class="indigo-btn fancy-bg text-center" href="/vehicles/add">Add vehicle</a>
  </div>
{% endblock %}
