{% extends 'base.html' %}

{% block head %}
  <title>Vehicles - Vehicle Genius</title>
{% endblock %}

{% block content %}
  <div class="flex flex-col gap-4">
    <div class="border-b-[1px] border-gray-200 pb-2 text-sm">
      <ol class="flex flex-row gap-2">
        <li class="text-gray-400">
          <a href="/">Home</a>
          <span class="ml-2 text-black">/</span>
        </li>
        <li>Vehicles</li>
      </ol>
    </div>

    <h1 class="content-header">Vehicles</h1>
    <div class="flex flex-col gap-12">
      {% for vehicle in vehicles %}
        <div class="flex flex-col gap-4">
          <h2 class="font-bold">{{ vehicle.vinAuditData.marketValue.vehicle }}</h2>
          <table>
            <tr>
              <td>VIN</td>
              <td>{{ vehicle.vinAuditData.marketValue.vin }}</td>
            </tr>
            <tr>
              <td>Name</td>
              <td>{{ vehicle.vinAuditData.marketValue.vehicle }}</td>
            </tr>
          </table>
          <div>
            <a class="blue-btn" href="/vehicles/{{ vehicle.id }}">Details</a>
          </div>
        </div>
      {% endfor %}

      <div>
        <form class="flex flex-col gap-2" method="post" action="/vehicles/">
          {% csrf_token %}
          <h2 class="font-bold">Add vehicle</h2>
          <div class="flex flex-col gap-4">
            <label class="flex flex-col">
              <span class="text-sm">VIN</span>
              <input type="text" name="vin" />
            </label>
            <div>
              <input type="submit" class="blue-btn" value="Add" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
