{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Vehicle Genius Chatbot</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
    <style>
      html, body {
        height: 100%;
      }
    </style>
    {% block head %}
    {% endblock %}
	</head>

	<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <div class="max-w-full flex justify-between items-center bg-white px-4 h-[60px]">
      <div class="flex gap-4 items-end">
        <div class="text-2xl">
          <a href="/">
            {% load static %}
            <img src="{% static 'images/logo.svg' %}" alt="Vehicle Genius Logo" class="h-5" />
          </a>
        </div>
      </div>
      <div>
        {% if user.is_authenticated %}
          {% if user.first_name %}
          <div>
            User: {{ user.first_name }}
            {% if user.last_name %}
              {{ user.last_name }}
            {% endif %}
          </div>
          {% else %}
            <div>User: {{ user.username }}</div>
          {% endif %}
          <div><a class="link" href="{% url 'logout' %}">Log out</a></div>
{#        {% else %}#}
{#          <div class="flex gap-4">#}
{#            <a class="indigo-btn" href="{% url 'login' %}">Log in</a>#}
{#            <a class="indigo-btn fancy-bg" href="{% url 'register' %}">Register</a>#}
{#          </div>#}
        {% endif %}
      </div>
    </div>

    <div class="mx-auto content">
      <div class="flex flex-col p-6 h-full">
        {% include "messages.html" %}

        <div class="mx-auto w-full max-w-screen-md lg:max-w-screen-lg h-full">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

{#    <script#}
{#      src="https://code.jquery.com/jquery-3.6.0.slim.min.js"#}
{#      integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="#}
{#      crossorigin="anonymous"></script>#}
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.8"></script>
{#    {% load static %}#}
{#    <script src="{% static 'close-alert.js' %}"></script>#}

    {% block body_bottom %}
    {% endblock %}
  </body>
</html>
