{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Vehicle Genius Chatbot</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
    <style>
      html, body {
        height: 100%;
      }
    </style>
    {% block head %}
    {% endblock %}
	</head>

	<body class="bg-gray-50 font-sans leading-normal tracking-normal relative">
    <div class="max-w-full flex flex-row flex-nowrap justify-between bg-gray-200 py-5 px-10">
      <div class="flex gap-4 items-end">
        <div class="text-2xl">
          Vehicle Genius Chatbot
        </div>
        {% if user.is_authenticated %}
          <a class="link" href="/vehicles">Vehicles</a>
        {% endif %}
      </div>
{#      <div>#}
{#        {% if user.is_authenticated %}#}
{#          {% if user.first_name %}#}
{#          <div>#}
{#            User: {{ user.first_name }}#}
{#            {% if user.last_name %}#}
{#              {{ user.last_name }}#}
{#            {% endif %}#}
{#          </div>#}
{#          {% else %}#}
{#            <div>User: {{ user.username }}</div>#}
{#          {% endif %}#}
{#          <div><a class="link" href="{% url 'logout' %}">Log out</a></div>#}
{#        {% else %}#}
{#          <div><a class="link" href="{% url 'login' %}">Log in</a></div>#}
{#        {% endif %}#}
{#      </div>#}
    </div>

    <div class="mx-auto">
      <div class="flex flex-col bg-white p-8">
        {% include "messages.html" %}

        <div class="mx-auto w-full max-w-screen-md lg:max-w-screen-lg">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

{#    <script#}
{#      src="https://code.jquery.com/jquery-3.6.0.slim.min.js"#}
{#      integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="#}
{#      crossorigin="anonymous"></script>#}
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.8"></script>
{#    {% load static %}#}
{#    <script src="{% static 'close-alert.js' %}"></script>#}
  </body>
</html>
